---
import CourseCard from "../../components/CourseCard.astro";
import Course from "../../components/Course.astro";
---

<CourseCard title="Natural Sciences">
    <p>Choose a primary course.</p>
    <Course
        courses={[
            {
                title: "Natural Sciences (CLEP)",
                url: "https://modernstates.org/course/natural-sciences/",
                cost: "FREE",
            }
        ]}
    />
</CourseCard>
