---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | Self-Made Degrees</title>
	</head>

	<body>
		<nav>
			<ul>
				<li>
					<a id="logo" href="/">Self-Made Degrees</a>
				</li>
				<li>
					<a href="/about">About</a>
				</li>
				<li>
					<a href="/subjects">Subjects</a>
				</li>
			</ul>
		</nav>

		<main>
			<slot />
		</main>
	</body>

</html>

<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	html {
		@apply font-regular bg-stone-100 leading-loose;
	}
	main {
		@apply mx-auto py-12 px-20;
	}
	nav {
		@apply px-20 pt-8 pb-6;
		#logo {
			@apply font-semibold;
		}
		ul {
			@apply space-x-6;
			li {
				@apply inline-block border-b-2 border-stone-100 duration-700;
				&:hover {
					@apply border-stone-500;
				}
				a {
					@apply border-0 text-black;
					&:hover {
						@apply bg-stone-100;
					}
				}
			}
		}
	}
	p {
		@apply mb-4;
	}
	a {
		@apply pb-1 duration-700 border-b border-stone-500 text-stone-700;
		&:hover {
			@apply border-stone-900 bg-stone-200;
		}
	}
	@media(max-width: theme('screens.md')) {
		main,
		nav {
			@apply px-12 py-6;
		}
	}
	@media(max-width: theme('screens.sm')) {
		main,
		nav {
			@apply px-6;
		}
	}
</style>
