---
import Layout from './Layout.astro';

const {frontmatter} = Astro.props;
---
<Layout title={frontmatter.title}>
    <article>
        <h1>{frontmatter.title}</h1>
        <slot />
    </article>
</Layout>

<style>
    article {
        @apply w-3/5 mx-auto;
        h1 {
            @apply text-4xl mb-6;
        }
    }
</style>