---
import Layout from './Layout.astro';

const {frontmatter} = Astro.props;
---
<Layout title={frontmatter.title}>
    <article>
        <h1>{frontmatter.title}</h1>
        <slot />
    </article>
</Layout>

<style is:global>
    article {
        @apply w-3/5 mx-auto bg-white rounded-lg py-10 px-12;
        h1 {
            @apply text-4xl mb-6;
        }
        h2 {
            @apply text-2xl mt-10 mb-6;
        }
        ul {
            @apply ml-6 mb-6;
            li {
                @apply list-disc pl-2;
            }
        }
    }
    @media(max-width: theme("screens.md")) {
        article {
            @apply w-5/6;
        }
    }
    @media(max-width: theme("screens.sm")) {
        article {
            @apply w-full;
        }
    }
</style>